{% extends "tools/base.html" %}
{% block page-title %}
    {{title}}
    {% endblock  %}

{% block page-welcome %}
    {{message}}
{% endblock  %}


{% block page-data %}
    <form method= "post", action = "#">
        {%csrf_token%}

        {{form}}
        <button type="submit", name= "save">Add fag</button>
        <br>
        <label for="city">Choose a city</label>
        <input list="cities", id="city", name="city">
        <datalist id="cities">
        {% for city in all_cities %}
        <option value={{city}}>
        {% endfor %}
        </datalist>
    </form>    
{% endblock  %}
