{% extends "tools/base.html" %}
{% block page-title %}
    {{title}}
    {% endblock  %}

{% block page-welcome %}
    {{message}}
{% endblock  %}


{% block page-data %}
    <form method= "post", action = "#">
        {%csrf_token%}

        {{form}}
        <h3>city field is optional  </h3>
        <label for="city">Choose a city</label>
    <input list="cities", id="city", name="city">
        <datalist id="cities">
            {% for city in all_cities %}
                <option value={{city}}>
            {% endfor %}
        </datalist>
    
        <br>
        <label for="nani">what?</label>
        <input type="checkbox" ,id ="nani", name= "nani", value= :>
        <br>
        <button type="submit", name= "save">Add fag</button>
    </form>    
{% endblock  %}
